.WorkSpace {
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    text-align: left;
    padding: 10px;
}

.WorkSpace * {
    margin: 0px;
}

.WorkSpace .title {
    color: red;
    font-weight: 500;
}

/* 
.WorkSpace {
    background-color: white;
    height: 100%;
    width: 66%;
    float: right;
} */