.FormContainer button {
    font-size: inherit;
    font-family: inherit;
    background-color: rgb(255, 70, 70);
    box-shadow: inset 1px 1px 1px rgb(255, 132, 132);
    color: white;
    font-weight: 500;
    margin: 12px 0px;
}

#formHolder { 
    height: 60%;
}

.FormContainer {
    box-sizing:border-box;
}

.FormContainer .uslovDiv label {
    font-size: 20px;
}