@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.UserTaskForm * {
	box-sizing: border-box;
	font-size: 16px;
}

.UserTaskForm table, .UserTaskForm th, .UserTaskForm td {
    border-collapse: collapse;
    border: 1px solid black;
}

.UserTaskForm table {
    width: 100%;
    border: 2px solid black;
    margin-bottom: 10px;
}

.UserTaskForm {
    width: 100%;
    max-width: 768px ;
}

.UserTaskForm td:first-child  { 
    width: 33.33%;
    background-color:  #F1F1F1;
    text-align: right;
    padding: 20px 20px 20px 20px;
}
.UserTaskForm td:last-child { 
    width: 66.67%;
}

.UserTaskForm textarea {
    border: 1;
    width: 100%;
    resize: vertical; 
    height: 200px;
}

.UserTaskForm td[colSpan="2"] {
    text-align: start;
} 

.UserTaskForm input[type="text"] {
    width: 100%;
    height: 100%;
}	

.UserTaskForm h2, .UserTaskForm h3 {
    margin-bottom: 0px;
    font-size: 22px;
}

span.formName {
    float: right;
}


/* READONLY FIELDS */
input[readonly], textarea[readonly], select[disabled] {
	background-color: white;
	border: 0;
	font-size: 22px;
	padding: 0px 10px 0px 10px;
	font-family: 'Shadows Into Light', cursive;
}

select[disabled]::-ms-expand {
    display: none;
}

select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}