.TaskItem {
   background-color: #DDD;
   border-bottom: 1px dotted black;
   padding: 10px;
   text-align: left;
}

.TaskItem .taskTitle {
    color: red;
    font-weight: 500;
}

.TaskItem > * {
    margin: auto;
}


.TaskItem .date {
    font-size: 20px;
}

.TaskItem:hover {
    background-color: rgb(244, 244, 244);
    font-style: italic;    
}


.TaskItem.selected {
    background-color: white;
    font-style: italic;  
    border-left: 1px solid red;  
}